body {
    overflow-x: hidden;
}

section {
    position: absolute;
    top: -140px;
}

h2 {
    position: absolute;
    width: 323px;
    height: 49px;
    left: 480px;
    top: 900px;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;

    color: #000;
}

#download-image {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 700px;
    top: 1000px;

    opacity: 0.4;
}

#exclusive-image {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 240px;
    top: 1000px;

    opacity: 0.4;
}

#support-image {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 480px;
    top: 1000px;

    opacity: 0.4;
}

#ads-image {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 945px;
    top: 1000px;

    opacity: 0.4;
}

#exclusive {
    position: absolute;
    left: 180px;
    top: 1080px;
    font-family: 'Montserrat';
    font-style: normal;

    color: #000000;
}

#support {
    position: absolute;
    left: 420px;
    top: 1080px;
    font-family: 'Montserrat';
    font-style: normal;

    color: #000000;
}

#download {
    position: absolute;
    left: 660px;
    top: 1080px;
    font-family: 'Montserrat';
    font-style: normal;

    color: #000000;
}

#ads {
    position: absolute;
    left: 900px;
    top: 1080px;
    font-family: 'Montserrat';
    font-style: normal;

    color: #000000;
}


#price-tag {
    position: absolute;
    left: 570px;
    top: 1175px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;

    color: #000000;
}

#price-justification {
    position: absolute;
    width: 464px;
    height: 74px;
    left: 430px;
    top: 1230px;

    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    line-height: 37px;

    color: #000000;
}

#cancel-anytime {
    position: absolute;
    color: #FBF38C;
    left: 550px;
    top: 1330px;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

#sign-up {
    position: absolute;
    border: #9A0BD7;
    border-radius: 40px;
    background-color: #9A0BD7;
    width: 210px;
    height: 40px;
    left: 510px;
    top: 1400px;
}

#subscribe-hr {
    position: relative;
    top: 1300px;
}
