@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

body {
    /* background: linear-gradient(
    to right,
    #9FB3F4 0%,
    #9FB3F4 60%,
    #FBF38C 60%,
    #FBF38C 100%
  ); */
  background: #9FB3F4;
  /* height: 50vh; */
}

img#home-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 175px;
  top: 170px;
}

img {
  position: absolute;
  width: 40%;
  height: 60%;
  left: 600px;
  top: 150px;
}

#title {
  position: absolute;
  width: 198px;
  height: 49px;
  left: 220px;
  top: 160px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.025em;
  color: #000;
}

span {
  color: #FBF38C;
  transition: all 0.5s ease;
}

span:hover {
  color: #FF0000;
  transform: scale(1.2);
}

#headline {
  position: absolute;
  text-align: left;
  width: 427px;
  height: 120px;
  left: 175px;
  top: 220px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  word-wrap: break-word;
  line-height: 36px;
  letter-spacing: 0.025em;
  color: #000;
}

#description {
  position: absolute;
  text-align: left;
  width: 500px;
  height: 108px;
  left: 175px;
  top: 340px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.025em;
  color: #000;
}

.home-buttons {
  position: absolute;
  top: -110px;
}

.sign-up {
  position: absolute;
  border: #9A0BD7;
  border-radius: 40px;
  background-color: #9A0BD7;
  width: 130px;
  height: 40px;
  left: 175px;
  top: 600px;
  color: #FFF;
}

.sign-up:hover {
  color: #FFF;
  background-color: #9A0BD7;
}

.learn-more {
  position: absolute;
  border: #FFF;
  color: #9A0BD7;
  background-color: #FFF;
  border-radius: 40px;
  width: 130px;
  height: 40px;
  left: 320px;
  top: 600px;
}

.learn-more:hover {
  color: #FFF;
  background-color: #9A0BD7;
}

#why-subscribe {
  position: absolute;
  width: 323 px;
  height: 49px;
  left: 750px;
  top: 880px;

  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;

  color: #000;
}

hr {
  position: relative;
  top: 540px;
}

