.form-control {
    width: 500px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;
    right: 0;
    top: 100px;
    background: #FFFFFF;
    border: 1px solid #A70CD2;
    border-radius: 20px;
    margin: 30px;
}

.form-check {
    width: 500px;
    margin-top: 10px;
    /* padding-top: 30px; */
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;
    right: 0;
    top: 100px;
}

.create-account {
    position: absolute;
    border: #9A0BD7;
    border-radius: 40px;
    background-color: #9A0BD7;
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 500px;
    right: 0px;
    top: 160px;
    color: #FFFFFF;
}

button.create-account:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: #9A0BD7;
}
  
.create-account:hover {
    background-color: #9A0BD7;
}

.sign-up-tag {
    font-family: 'Poppins';
    font-style: normal;
    font-size: large;
    position: absolute;
    width: 576px;
    height: 36px;
    left: 585px;
    top: 630px;
}

.sign-up-link {
text-decoration: none;
color: #9A0BD7;
}
