/* * {
    background-color: #9FB3F4;
} */

h4#connect {
    position: absolute;
    top: 1550px;
    left: 350px;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    color: black;
}


h6#ownership {
    position: absolute;
    width: 424px;
    height: 24px;
    left: 470px;
    top: 1650px;

    font-family: 'Montserrat';

    color: #FFFFFF; 
}


#browse-channels {
    position: absolute;
    width: 250px;
    height: 48px;
    left: 510px;
    top: 1900px;
    border: #9A0BD7;
    border-radius: 40px;
    background-color: #9A0BD7;
    /* width: 180px; */
}

hr#connect-page-hr {
    position: relative;
    top: 2200px;
}

.creator-image {
    width: 120px;
    height: 120px;
    padding: 10px;
}

img#creator-image1 {
    display: inline-block;
    position: absolute;
    top: 1710px;
    left: 400px;
}

img#creator-image2 {
    display: inline-block;
    position: absolute;
    top: 1710px;
    left: 500px;
}

img#creator-image3 {
    display: inline-block;
    position: absolute;
    top: 1710px;
    left: 600px;
}

img#creator-image4 {
    display: inline-block;
    position: absolute;
    top: 1710px;
    left: 700px;
}

img#creator-image5 {
    display: inline-block;
    position: absolute;
    top: 1710px;
    left: 800px;
}
